<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Catalog Resto">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
        crossorigin="anonymous">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <title>Catalog Resto</title>
</head>

<body>
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="#home" class="skip-link">Menuju ke konten</a>
            <button class="nav__toggle" id="nav-toggle">☰
            </button>
            <a href="#home" class="nav__logo"><img src="../images/logo.png"></a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#/main" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="#/like" class="nav__link">Favorite</a></li>
                    <li class="nav__item"><a href="https://www.linkedin.com/in/asnan-asrawi-2a1330140" target="_blank"
                            class="nav__link">About Us</a></li>
                </ul>
            </div>

        </nav>
    </header>
    <main id="mainContent">
    </main>

    <footer class="section">
        <p class="footer__copy">Copyright&#169;2021 - Asnan Food</p>
    </footer>
</body>

</html>